@page "/ParsingData"
@inject HttpClient Http

<h3>ParsingData</h3>

@code {
    private Unit[]? units;
    private CommanderData[]? commanderDatas;

    protected override async Task OnInitializedAsync()
    {
        units = await Http.GetFromJsonAsync<Unit[]>("sample-data/units.json");
        var u = Unit.GetAllUnits(units, "Stukov");
        foreach (var unit in u)
        {
            Console.WriteLine(unit);
        }
        // commanderDatas = await Http.GetFromJsonAsync<CommanderData[]>("sample-data/commanders.json");
        // var c = CommanderData.GetAllCommanders(commanderDatas);
        // foreach (var commander in c)
        // {
        //     Console.WriteLine(commander);
        // }
    }
}